@use 'variables' as *;

.footer {
	padding: 50px 0;
	background: $black;
	.container {
		.footer-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
      padding-bottom: 30px;
      border-bottom: 1px solid $gray;
			.footer__logo {
				@include logo;
				color: $white;
			}
			.footer__navList {
				display: flex;
				gap: 14px;
				.footer__navItem {
					@include reg-16;
					color: $gray;
					transition: 0.2s;
					padding: 6px 10px;
					&:hover {
						color: $white;
					}
				}
			}
			.footer__contacts {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.footer__contact {
          @include reg-16;
          color: $white;
				}
			}
			.footer__btn {
        @include main-btn;
			}
		}
		.footer__info {
      display: flex;
      margin-top: 30px;
      align-items: center;
      gap: 14px;
      @include reg-16;
      color: $gray;
		}
	}
}
