<section class="articles">
  <div class="container">
    <div class="articles-block">
      <h2 class="articles__title">Статьи</h2>
      <div class="slider">
        <ul class="slider-wrapper articles__list">
          <li class="articles__item">
            <img src="../assets/images/laptop.jpg" alt="" class="articles__item-image">
            <p class="articles__item-title">Наименование</p>
            <p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
            <div class="articles__item-info">
              <p class="articles__item-info-date">01.22.2025</p>
              <a href="" class="articles__item-info-link">Подробнее</a>
            </div>
          </li>
          <li class="articles__item">
            <img src="../assets/images/laptop.jpg" alt="" class="articles__item-image">
            <p class="articles__item-title">Наименование</p>
            <p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
            <div class="articles__item-info">
              <p class="articles__item-info-date">01.22.2025</p>
              <a href="" class="articles__item-info-link">Подробнее</a>
            </div>
          </li>
          <li class="articles__item">
            <img src="../assets/images/laptop.jpg" alt="" class="articles__item-image">
            <p class="articles__item-title">Наименование</p>
            <p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
            <div class="articles__item-info">
              <p class="articles__item-info-date">01.22.2025</p>
              <a href="" class="articles__item-info-link">Подробнее</a>
            </div>
          </li>
          <li class="articles__item">
            <img src="../assets/images/laptop.jpg" alt="" class="articles__item-image">
            <p class="articles__item-title">Наименование</p>
            <p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
            <div class="articles__item-info">
              <p class="articles__item-info-date">01.22.2025</p>
              <a href="" class="articles__item-info-link">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>