<section class="articles">
	<div class="container">
		<div class="articles-block">
			<h2 class="articles__title">Статьи</h2>
			<div class="swiper articles-swiper">
				<ul class="swiper-wrapper articles__list">
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
					<li class="swiper-slide articles__item">
						<img src="../assets/images/laptop.jpg" alt="" class="articles__item-image" />
						<p class="articles__item-title">Наименование</p>
						<p class="articles__item-description">Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описание</p>
						<div class="articles__item-info">
							<p class="articles__item-info-date">01.22.2025</p>
							<a href="" class="articles__item-info-link">Подробнее</a>
						</div>
					</li>
				</ul>
				<div class="swiper-button-next">
					<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.8">
							<rect width="44" height="44" rx="22" transform="matrix(-1 0 0 1 44 0)" fill="#EFEBD8" fill-opacity="0.7" />
							<path d="M18.5 15L25.5 22L18.5 29" stroke="#111010" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</g>
					</svg>
				</div>
				<div class="swiper-button-prev">
					<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.8">
							<rect width="44" height="44" rx="22" fill="#EFEBD8" fill-opacity="0.7" />
							<path d="M25.5 15L18.5 22L25.5 29" stroke="#111010" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</g>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
