<section class="form">
	<div class="container">
		<div class="form__block">
			<img src="../assets/images/site.jpg" alt="" class="form__block-image" />
			<form action="" class="form__block-form">
				<h2 class="form__block-form-title">Форма заявки:</h2>
				<input type="text" class="form__block-form-input name" placeholder="Фамилия Имя Отчество">
				<div class="form__block-form-input contacts-block">
					<input type="text" class="form__block-form-input contacts" placeholder="Номер телефона"/>
					<input type="text" class="form__block-form-input contacts" placeholder="Электронный адрес"/>
				</div>
				<input type="text" class="form__block-form-input price" placeholder="Ваш бюджет на разработку"/>
        <button class="form__block-form-btn">Получить расчет</button>
			</form>
		</div>
	</div>
</section>
