<section class="form">
	<div class="container">
		<div class="form__block">
			<img src="../assets/images/site.jpg" alt="" class="form__block-image" />
			<form action="" class="form__block-form">
				<h2 class="form__block-form">Оставьте ваши контакты для получения бесплатного экспертного анализа по будущему сайту</h2>
				<input type="text" class="form__block-form-input name" />
				<div class="form__block-form-input contacts-block">
					<input type="text" class="form__block-form-input contacts" />
					<input type="text" class="form__block-form-input contacts" />
				</div>
				<input type="text" class="form__block-form-input price" />
        <button class="form__block-form-btn">Получить расчет</button>
			</form>
		</div>
	</div>
</section>
