<section class="whom">
  <div class="container">
    <div class="whom__block">
      <h2 class="whom__title">Для кого наш продукт?</h2>
      <p class="whom__subtitle">Для компаний, которые хотят расти и увеличивать чистую прибыль, но сталкивались с такими проблемами:</p>
      <ul class="whom__cards">
        <li class="whom__card">
          <img src="../assets/images/graphic.png" alt="" class="whom__card-image">
          <p class="whom__card-text">Нехватка квалифицированных заявок в отдел продаж</p>
        </li>
        <li class="whom__card">
          <img src="../assets/images/money-top.png" alt="" class="whom__card-image">
          <p class="whom__card-text">Высокая цена квалифицированного лида</p>
        </li>
        <li class="whom__card">
          <img src="../assets/images/search.png" alt="" class="whom__card-image">
          <p class="whom__card-text">Есть подрядчик, но приходится его подгонять и контролировать</p>
        </li>
        <li class="whom__card">
          <img src="../assets/images/settings.png" alt="" class="whom__card-image">
          <p class="whom__card-text">Нет системности в управлении маркетингом</p>
        </li>
        <li class="whom__card">
          <img src="../assets/images/electric.png" alt="" class="whom__card-image">
          <p class="whom__card-text">Вложения в маркетинг не окупаются</p>
        </li>
      </ul>
    </div>
  </div>
</section>