<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="" class="header__logo">molokosite</a>
      <ul class="header__navList">
        <li class="header__navItem"><a href="#hero">Главная</a></li>
        <li class="header__navItem"><a href="#works">Наши работы</a></li>
        <li class="header__navItem"><a href="#steps">Этапы</a></li>
        <li class="header__navItem"><a href="#rate">Тарифы</a></li>
        <li class="header__navItem"><a href="#reviews">Отзывы</a></li>
      </ul>
      <ul class="header__contacts">
        <li class="header__contact"><a href="">+7 (000) 000-00-00</a></li>
        <li class="header__contact"><a href="">почта@gmail.com</a></li>
      </ul>
      <button class="header__btn">Получить расчет</button>
    </div>
  </div>
</header>