<section class="hero" id="hero">
	<div class="container">
		<div class="hero__block">
			<h1 class="hero__block-title">
				Разработка продающих сайтов<br />
				под ключ - от идеи до целевых заявок.
			</h1>
			<p class="hero__block-subtitle">
				Поэтапная модель оплаты наших услуг. Внедрим маркетинговые инструменты и увеличим количество клиентов минимум в
				3 раза. Снимем ответственность за интернет-маркетинг с ваших плеч
			</p>
      <button class="hero__block-btn form">Получить расчет</button>
		</div>
    <ul class="hero__history-list">
			<li class="hero__history-item"><img src="../assets/images/history.jpg" alt=""></li>
			<li class="hero__history-item"><img src="../assets/images/history.jpg" alt=""></li>
			<li class="hero__history-item"><img src="../assets/images/history.jpg" alt=""></li>
			<li class="hero__history-item"><img src="../assets/images/history.jpg" alt=""></li>
			<li class="hero__history-item"><img src="../assets/images/history.jpg" alt=""></li>
		</ul>
	</div>
</section>
