<section class="rate" id="rate">
	<div class="container">
		<div class="rate-block">
			<h2 class="rate__title">Тарифы/Продукты</h2>
			<ul class="rate__tabs">
				<li class="rate__tab">Сайт</li>
				<li class="rate__tab">Продвижение</li>
				<li class="rate__tab">Сайт</li>
			</ul>

			<ul class="rate__list">
				<li class="rate__item">
					<img src="../assets/images/site.jpg" alt="" class="rate__item-image" />
					<h2 class="rate__item-title">Наименование</h2>
					<p class="rate__item-price">от 10 000 рублей</p>
					<p class="rate__item-ListTitle">Что входит:</p>
					<ul class="rate__item-List">
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
					</ul>
					<p class="rate__item-description">Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание</p>
					<button class="rate__item-btn">Получить расчет</button>
				</li>

				<li class="rate__item">
					<img src="../assets/images/site.jpg" alt="" class="rate__item-image" />
					<h2 class="rate__item-title">Наименование</h2>
					<p class="rate__item-price">от 10 000 рублей</p>
					<p class="rate__item-ListTitle">Что входит:</p>
					<ul class="rate__item-List">
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
					</ul>
					<p class="rate__item-description">Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание</p>
					<button class="rate__item-btn">Получить расчет</button>
				</li>

				<li class="rate__item">
					<img src="../assets/images/site.jpg" alt="" class="rate__item-image" />
					<h2 class="rate__item-title">Наименование</h2>
					<p class="rate__item-price">от 10 000 рублей</p>
					<p class="rate__item-ListTitle">Что входит:</p>
					<ul class="rate__item-List">
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
						<li class="rate__item-item">Наименование</li>
					</ul>
					<p class="rate__item-description">Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание</p>
					<button class="rate__item-btn">Получить расчет</button>
				</li>
			</ul>
		</div>
	</div>
</section>
