<section class="reviews" id="reviews">
	<div class="container">
		<h2 class="reviews__title">Отзывы</h2>
		<div class="slider">
			<ul class="slider-wrapper reviews__list">
				<li class="reviews__item">
					<img src="../assets/images/site.jpg" alt="" class="reviews__item-image" />
					<div class="rewievs__item-wrapper">
            <div class="review__item-clientInfo">
              <p class="review__item-clientInfo-name">Наталья</p>
              <p class="review__item-clientInfo-type">ювелирный магазин</p>
              <p class="review__item-clientInfo-company">ООО “Сатурн”</p>
            </div>
            <div class="review__item-client-ratting">
              <ul class="review__item-client-ratting-stars">
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review__item-client-ratting-date">20 декабря 2024</p>
            </div>
          </div>
					<p class="review__item-client-description">
						пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размерыпишите нам в мессенджер
						или через форму, уточняем детали: макет, количество, размеры
					</p>
					<button class="review__item-client-btn">Подробнее</button>
				</li>
				<li class="reviews__item">
					<img src="../assets/images/site.jpg" alt="" class="reviews__item-image" />
					<div class="rewievs__item-wrapper">
            <div class="review__item-clientInfo">
              <p class="review__item-clientInfo-name">Наталья</p>
              <p class="review__item-clientInfo-type">ювелирный магазин</p>
              <p class="review__item-clientInfo-company">ООО “Сатурн”</p>
            </div>
            <div class="review__item-client-ratting">
              <ul class="review__item-client-ratting-stars">
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review__item-client-ratting-date">20 декабря 2024</p>
            </div>
          </div>
					<p class="review__item-client-description">
						пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размерыпишите нам в мессенджер
						или через форму, уточняем детали: макет, количество, размеры
					</p>
					<button class="review__item-client-btn">Подробнее</button>
				</li>
				<li class="reviews__item">
					<img src="../assets/images/site.jpg" alt="" class="reviews__item-image" />
					<div class="rewievs__item-wrapper">
            <div class="review__item-clientInfo">
              <p class="review__item-clientInfo-name">Наталья</p>
              <p class="review__item-clientInfo-type">ювелирный магазин</p>
              <p class="review__item-clientInfo-company">ООО “Сатурн”</p>
            </div>
            <div class="review__item-client-ratting">
              <ul class="review__item-client-ratting-stars">
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="review__item-client-ratting-star">
                  <svg width="17" height="18">
                    <use xlink:href="assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review__item-client-ratting-date">20 декабря 2024</p>
            </div>
          </div>
					<p class="review__item-client-description">
						пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размерыпишите нам в мессенджер
						или через форму, уточняем детали: макет, количество, размеры
					</p>
					<button class="review__item-client-btn">Подробнее</button>
				</li>
			</ul>
		</div>
	</div>
</section>
