<section class="steps" id="steps">
  <div class="container">
    <div class="steps-block">
      <h2 class="steps__title">Этапы работ</h2>
      <ul class="steps__tabs">
        <li class="steps__tab">Сайт</li>
        <li class="steps__tab">Продвижение</li>
        <li class="steps__tab">Сайт</li>
      </ul>
      <ul class="steps__list">
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
      </ul>
      <!-- <ul class="steps__list">
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
      </ul> -->
      <!-- <ul class="steps__list">
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
        <li class="steps__item">
          <p class="steps__item-title">Оставляете заявку</p>
          <p class="steps__item-text">пишите нам в мессенджер или через форму, уточняем детали: макет, количество, размеры</p>
        </li>
      </ul> -->
    </div>
  </div>`
</section>