<section class="works" id="works">
	<div class="container">
		<div class="works-block">
			<h2 class="works__title">Наши работы</h2>
			<ul class="works__list">
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
				<li class="works__item">
					<img src="../assets/images/site.jpg" alt="" class="works__item-image" />
					<p class="works__item-name">Наименование</p>
				</li>
			</ul>
			<button class="works__btn">Показать больше</button>
		</div>
	</div>
</section>
